page-contact {
  ion-header{
    ion-navbar{
      ion-title{
          align-content: center !important;
          align-self: center !important;
          margin-left: 122px;
          }
        }
      }
    ion-content{
      button{
        align-items: center!important;
        align-self: center !important;
        width: 100%;

      }
    }
  }
